.container {
  padding: 20px;
  font-family: sans-serif;
}

.buttons button {
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.stream-box {
  height: 220px;
  overflow-y: auto;
  background: #000;
  color: #00ff9c;
  padding: 10px;
  font-family: monospace;
  border-radius: 6px;
}
